html,
body,
* {
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 10px 3px 10px 3px;
}

body {
    background-image: url(https://i.pinimg.com/736x/4b/73/f3/4b73f361324786a392039dd58b9dacea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;

}

input[type="text"] {
    height: 3rem;
    width: 16rem;
    border-radius: 5px;
    text-align: center;
    border-color: white;
    box-shadow: 10px 10px 10px rgba(234, 180, 220, 0.5);
    font-size: 2rem;

}

button {
    height: 3rem;
    width: 10rem;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    border-color: white;
    box-shadow: 10px 10px 10px rgba(255, 208, 242, 0.3)
}

form {
    align-items: center;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    align-items: center;
    width: 90vw;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 30%;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
    margin: 1rem 1rem;
    justify-content: center;
    align-item: center;
    background-color: white;
    text-align: center;
}


.card_img {
    width: 80%;
    margin: 0 10px;
}