html, body, * 
{
    font-size:10px ;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1
{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:3rem;
}
body
{
    background-image: url(https://i.pinimg.com/736x/4b/73/f3/4b73f361324786a392039dd58b9dacea.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;

}